
<div class="row">
<br />
<br />
<br />

	<% @years.each do |year|%>
   <div class="col-md-4 col-md-offset-1">
   		<div class="panel panel-primary">
   		<div class="panel-heading">
   		<div class="panel-body"><h2><center><%= link_to"#{year.title}", year_path(year.id), {:style =>'color: white;'} %></center></h2></div></div>
   		
			<div class="panel-body">
			<h1><center><%= number_with_precision(year.year_average(year), precision: 2) %></center></h1></div>
		</div>
	</div>
	<% end %>
</div>